<!DOCTYPE html>
<html lang="en">

    <title>Web Collector App</title>
    
    <head>
        <link href="../static/main.css" rel="stylesheet">
    </head>
    <body>
        <div class="container">
        <h1>Collecting Heights</h1>
        <h3>Please fill entries to get population statistics in height</h3>
        <form action="succes.html" method="POST">
            <input title="Your email will remain safe with us" placeholder="Enter you email"
             type="email" name="email_name" required><br>
             <input title="Your data will remain safe with us" placeholder="Enter your height in cm"
             type="number" min="50" max="300" step="0.1" name="height" required><br>
             <button type="submit">Submit</button>
        </div>
        </form>
        </div>
    </body>

</html>